@model gestioncommande.Models.StatistiquesViewModel

<h2>Statistiques du Jour</h2>

<div>
    <h4>Commandes du Jour</h4>
    <p>@Model.CommandesDuJour</p>

    <h4>Livraisons du Jour</h4>
    <p>@Model.LivraisonsDuJour</p>

    <h4>Paiements du Jour</h4>
    <p>@Model.PaiementsDuJour</p>

    <h4>Commandes mises en attente</h4>
    <p>@Model.CommandesEnAttente</p>
</div>
